body {
  background-color: black;
}

h1 {
  text-transform: uppercase;
}

div {
  font-family: "Libre Baskerville", serif;
  color: white;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  text-align: center;
}

img {
  width: 100%;
  border: 5px solid white;
}
